.canvas {
	/* background-color: #fff; */
	display: flex;
	flex-flow: column;
	align-items: flex-start;

	background: url('../../media/vecteezy_kitchen-utensils-tools-and-dishware-on-on-the-background-white-tile-wall_2786411.jpg')
		no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	width: 90vw;
}

.container > section {
	width: 98vw;
}

.navBar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 95vw;
	padding: 10px 32px 10px;
}

.logo {
	font-family: 'Give You Glory', cursive;
	z-index: 2;
}

h1.logo {
	font-size: 30px;
	margin: 0px;
}
p.logo {
	font-size: 20px;
	margin: 0px;
}

.row1 {
	display: flex;
	flex-flow: row nowrap;
	height: 75px;
	justify-content: space-between;
	width: 100vw;
}

.title {
	margin-left: 30px;
	height: 75px;
	width: 450px;
	line-height: 25px;
}

.aside {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: flex-end;
	width: 350px;
	margin-right: 50px;
}
.aside > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 5px;
}

img.clock {
	width: 25px;
}

p.clock {
	font-size: small;
	margin: 0;
	text-align: center;
}

img.healthScore {
	margin-top: 10px;
	width: 25px;
}

p.healthScore {
	font-size: small;
	margin: 0;
	text-align: center;
}

.dishTypes {
	margin-right: 20px;
	width: 400px;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
}

.dishTypes > div {
	width: 100px;
	height: 35px;
	align-items: center;
	line-height: 30px;
	font-size: 12px;
	border-radius: 10px;
	margin: 3px;
	align-content: center;
	text-align: center;
	background-color: steelblue;
}

.dishTypes > div > span {
	display: inline-block;
	vertical-align: middle;
	line-height: 15px;
	color: white;
}

.diets {
	margin-right: 20px;
	width: 400px;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
}

.diets > div {
	width: 100px;
	height: 35px;
	align-items: center;
	line-height: 30px;
	font-size: 12px;

	border-radius: 10px;
	margin: 3px;
	align-content: center;
	text-align: center;
	background-color: darkcyan;
}

.diets > div > span {
	display: inline-block;
	vertical-align: middle;
	line-height: 15px;
	color: white;
}
.row2 {
	display: flex;
	flex-flow: row nowrap;
	height: 400px;
	justify-content: space-between;
	width: 100vw;
}

.summary {
	width: 60vw;
}

.summary > :first-child {
	padding-left: 10px;
	font-weight: 800;
}

.summary > :nth-child(2) {
	font-size: 15px;
	margin-left: 15px;
	margin-right: 20px;
	text-align: justify;
	max-height: 160px;
	overflow: auto;
	padding-right: 10px;
}

.foto {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 450px;
}

.foto > img {
	margin-top: 25px;
	margin-bottom: 25px;
	max-height: 250px;
	max-width: 350px;
	object-fit: contain;
	object-position: 0 0;
	border-radius: 20px;
}

.deleteButton {
	text-decoration: none;
	text-align: center;
	width: 80px;
	font-size: 12px;
	border: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 5px;
	border-radius: 10px;
	bottom: 20px;
	right: 300px;
	z-index: 99;
	position: fixed;
}

.backHome {
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
}
